<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Regov Technologies</h1>
      <hr>
      <p *ngIf="isLoading">Loading...</p>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <div id="typeahead-container">
        <input type="text" class="form-control" placeholder="Country name..."
          (keyup)="searchCountries(searchText)" [(ngModel)]="searchText">

        <div class="dropdown-menu search-results" *ngIf="results.length">
          <a *ngFor="let item of results" class="dropdown-item" (click)="onSelectCountry(item)">{{ item.name }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="selectedCountry">
    <div class="col-8">
      <h2 class="text-primary">{{ selectedCountry.name }}</h2>

        <dl class="row">
          <dt class="col-sm-3">Native Name</dt>
          <dd class="col-sm-9">{{ selectedCountry.nativeName }}</dd>
  
          <dt class="col-sm-3">Capital</dt>
          <dd class="col-sm-9">{{ selectedCountry.capital }}</dd>
  
          <dt class="col-sm-3">Population</dt>
          <dd class="col-sm-9">{{ selectedCountry.population | number }}</dd>
  
          <dt class="col-sm-3">Calling Codes</dt>
          <dd class="col-sm-9">
            <span *ngFor="let cc of selectedCountry.callingCodes">+{{ cc }}</span>
          </dd>
  
          <dt class="col-sm-3">Region</dt>
          <dd class="col-sm-9">{{ selectedCountry.region }}</dd>
  
          <dt class="col-sm-3">Subregion</dt>
          <dd class="col-sm-9">{{ selectedCountry.subregion }}</dd>
  
          <dt class="col-sm-3">TimeZones</dt>
          <dd class="col-sm-9">
            <span *ngFor="let tz of selectedCountry.timezones">{{ tz }}</span>
          </dd>
  
          <dt class="col-sm-3">Borders</dt>
          <dd class="col-sm-9">
            <span *ngFor="let border of selectedCountry.borders">{{ border }} </span>
          </dd>
        </dl>
    </div>
    <div class="col-4">
      <img [src]="selectedCountry.flag" alt="flag" class="img-fluid">
    </div>
  </div>
</div>